@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inspiration&family=M+PLUS+1p:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:wght@100;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 100%;
    /* background: url("../images/aboutbgg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.Explore-pizza {
    background: url("../images/menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#Explore {
    margin-top: 15%;
}

.container {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    font-size: 25px;
    padding: 3%;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}