@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inspiration&family=M+PLUS+1p:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:wght@100;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 100%;
    /* background: url("../images/aboutbgg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.Explore-pizza {
    background: url("../images/menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#Explore {
    margin-top: 15%;
}

.container {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    font-size: 25px;
    padding: 3%;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}


/* communication section */

.communication-container a,
.communication a:hover {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    margin: 20px 10px;
    border-radius: 50%;
    margin-top: 3%;
}

.communication-container {
    display: flex;
}

.communication-container i {
    color: #0a0a0a;
    font-size: 15px;
}

.communication-container a:hover {
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.communication-container a:hover i {
    color: #050505;
    transition: all ease 0.5s;
}


/* .communication a:hover {
    background-color: #ADA69F;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
} */

.communication a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

.communication {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.communication a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    border-radius: 10px;
    background-color: wheat;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.communication i {
    color: #2b2b2b;
    font-size: 23px;
}